<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Page Not Found</title>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/error.css">
    


<body>

    
    <video autoplay muted loop id="bg-video">
        
        <source src="/static/video/backgroundvideo.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    
    <header class="bar">
        <h1>🎶 Oops! Something's Not Right 🎶</h1>
        <button class="home-btn" onclick="window.location.href='/'">Home</button>
    </header>

   
    <main class="main-container error-page-main">
        
        <div class="error-container">

            <div class="error-text-box">
                <h1>404</h1>
                <h2>Page Not Found</h2>
            </div>

            <div class="gif-placeholder">
                
                <img src="/static/images/404.gif" alt="Error GIF placeholder">
                
            </div>
        </div>

    </main>

    
    <footer>
        <p>© 2025 Groupie Tracker 🎧 | Made by Jaber and Ahmed</p>
    </footer>

</body>
</html>